In [4]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [5]:
%sql postgresql://student:student@127.0.0.1/sparkifydb

'Connected: student@sparkifydb'

In [6]:
%sql SELECT * FROM songplays where song_id is not null  limit 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(5662, 1542837407796, 15, 'paid', 'SOZCTXZ12AB0182364', 'AR5KOSW1187FB35FF4', 818, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"')]

In [4]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(73, 'Jacob', 'Klein', 'M', 'paid'),
 (24, 'Layla', 'Griffin', 'F', 'paid'),
 (50, 'Ava', 'Robinson', 'F', 'free'),
 (54, 'Kaleb', 'Cook', 'M', 'free'),
 (32, 'Lily', 'Burns', 'F', 'free')]

In [5]:
%sql SELECT * FROM songs LIMIT 25;

 * postgresql://student:***@127.0.0.1/sparkifydb
25 rows affected.

[('SOFNOQK12AB01840FC', 'ARNNKDK1187B98BBD5', 'Kutt Free (DJ Volume Remix)', Decimal('407.38'), 0),
 ('SOBAYLL12A8C138AF9', 'ARDR4AC1187FB371A1', 'Sono andati? Fingevo di dormire', Decimal('511.16'), 0),
 ('SOFFKZS12AB017F194', 'ARBEBBY1187B9B43DB', 'A Higher Place (Album Version)', Decimal('236.17'), 1994),
 ('SOGVQGJ12AB017F169', 'AR62SOJ1187FB47BB5', 'Ten Tonne', Decimal('337.68'), 2005),
 ('SOXILUQ12A58A7C72A', 'ARP6N5A1187B99D1A3', 'Jenny Take a Ride', Decimal('207.44'), 2004),
 ('SOLEYHO12AB0188A85', 'ARAGB2O1187FB3A161', 'Got My Mojo Workin', Decimal('338.23'), 0),
 ('SOBKWDJ12A8C13B2F3', 'AR36F9J1187FB406F1', 'Wild Rose (Back 2 Basics Mix)', Decimal('230.71'), 0),
 ('SOOJPRH12A8C141995', 'ARBGXIG122988F409D', 'Loaded Like A Gun', Decimal('173.19'), 0),
 ('SOPEGZN12AB0181B3D', 'AREDL271187FB40F44', 'Get Your Head Stuck On Your Neck', Decimal('45.66'), 0),
 ('SOQOTLQ12AB01868D0', 'ARGCY1Y1187B9A4FA5', 'Clementina Santafè', Decimal('153.34'), 0),
 ('SOBCOSW12A8C13D398', 'AR7SMBG1187B9B9066', 'Rumba De Barcelona', Decimal('218.38'), 0),
 ('SOTCKKY12AB018A141', 'ARGSAFR1269FB35070', 'Sonnerie lalaleulé hi houuu', Decimal('29.54'), 0),
 ('SOFCHDR12AB01866EF', 'AREVWGE1187B9B890A', 'Living Hell', Decimal('282.44'), 0),
 ('SOINLJW12A8C13314C', 'AR8IEZO1187B99055E', 'City Slickers', Decimal('149.86'), 2008),
 ('SONSKXP12A8C13A2C9', 'AR0IAWL1187B9A96D0', 'Native Soul', Decimal('197.20'), 2003),
 ('SOGDBUF12A8C140FAA', 'AR558FS1187FB45658', 'Intro', Decimal('75.68'), 2003),
 ('SOWQTQZ12A58A7B63E', 'ARPFHN61187FB575F6', 'Streets On Fire (Explicit Album Version)', Decimal('279.98'), 0),
 ('SOLYIBD12A8C135045', 'AR051KA1187B98B2FF', 'Music is what we love', Decimal('261.51'), 0),
 ('SOSWKAV12AB018FC91', 'ARULZCI1241B9C8611', 'Midnight Star', Decimal('335.52'), 0),
 ('SODAUVL12A8C13D184', 'ARWB3G61187FB49404', 'Prognosis', Decimal('363.86'), 2000),
 ('SONWXQJ12A8C134D94', 'ARNF6401187FB57032', 'The Ballad Of Sleeping Beauty', Decimal('305.16'), 1994),
 ('SOUPIRU12A6D4FA1E1', 'ARJIE2Y1187B994AB7', 'Der Kleine Dompfaff', Decimal('152.92'), 0),
 ('SORRZGD12A6310DBC3', 'ARVBRGZ1187FB4675A', 'Harajuku Girls', Decimal('290.56'), 2004),
 ('SODREIN12A58A7F2E5', 'ARLTWXK1187FB5A3F8', 'A Whiter Shade Of Pale (Live @ Fillmore West)', Decimal('326.01'), 0),
 ('SOBBXLX12A58A79DDA', 'AREDBBQ1187B98AFF5', 'Erica (2005 Digital Remaster)', Decimal('138.63'), 0)]

In [6]:
%sql SELECT * FROM artists LIMIT 100;

 * postgresql://student:***@127.0.0.1/sparkifydb
69 rows affected.

[('ARNNKDK1187B98BBD5', Decimal('45.807259999999999'), Decimal('15.967599999999999'), 'Zagreb Croatia', 'Jinx'),
 ('ARDR4AC1187FB371A1', Decimal('NaN'), Decimal('NaN'), '', 'Montserrat Caballé;Placido Domingo;Vicente Sardinero;Judith Blegen;Sherrill Milnes;Georg Solti'),
 ('ARBEBBY1187B9B43DB', Decimal('NaN'), Decimal('NaN'), 'Gainesville, FL', 'Tom Petty'),
 ('AR62SOJ1187FB47BB5', Decimal('NaN'), Decimal('NaN'), '', 'Chase & Status'),
 ('ARP6N5A1187B99D1A3', Decimal('NaN'), Decimal('NaN'), 'Hamtramck, MI', 'Mitch Ryder'),
 ('ARAGB2O1187FB3A161', Decimal('NaN'), Decimal('NaN'), '', 'Pucho & His Latin Soul Brothers'),
 ('AR36F9J1187FB406F1', Decimal('56.276090000000003'), Decimal('9.5169499999999996'), 'Denmark', 'Bombay Rockers'),
 ('ARBGXIG122988F409D', Decimal('37.779159999999997'), Decimal('-122.42005'), 'California - SF', 'Steel Rain'),
 ('AREDL271187FB40F44', Decimal('NaN'), Decimal('NaN'), '', 'Soul Mekanik'),
 ('ARGCY1Y1187B9A4FA5', Decimal('36.16778'), Decimal('-86.778360000000006'), 'Nashville, TN.', 'Gloriana'),
 ('AR7SMBG1187B9B9066', Decimal('NaN'), Decimal('NaN'), '', 'Los Manolos'),
 ('ARGSAFR1269FB35070', Decimal('NaN'), Decimal('NaN'), '', 'Blingtones'),
 ('AREVWGE1187B9B890A', Decimal('-13.442'), Decimal('-41.995199999999997'), 'Noci (BA)', 'Bitter End'),
 ('AR8IEZO1187B99055E', Decimal('NaN'), Decimal('NaN'), '', 'Marc Shaiman'),
 ('AR0IAWL1187B9A96D0', Decimal('8.4177'), Decimal('-80.112780000000001'), 'Panama', 'Danilo Perez'),
 ('AR558FS1187FB45658', Decimal('NaN'), Decimal('NaN'), '', '40 Grit'),
 ('ARPFHN61187FB575F6', Decimal('41.884149999999998'), Decimal('-87.632409999999993'), 'Chicago, IL', 'Lupe Fiasco'),
 ('AR051KA1187B98B2FF', Decimal('NaN'), Decimal('NaN'), '', 'Wilks'),
 ('ARULZCI1241B9C8611', Decimal('NaN'), Decimal('NaN'), '', 'Luna Orbit Project'),
 ('ARWB3G61187FB49404', Decimal('NaN'), Decimal('NaN'), 'Hamilton, Ohio', 'Steve Morse'),
 ('ARNF6401187FB57032', Decimal('40.790860000000002'), Decimal('-73.966440000000006'), 'New York, NY [Manhattan]', 'Sophie B. Hawkins'),
 ('ARJIE2Y1187B994AB7', Decimal('NaN'), Decimal('NaN'), '', 'Line Renaud'),
 ('ARVBRGZ1187FB4675A', Decimal('NaN'), Decimal('NaN'), '', 'Gwen Stefani'),
 ('ARLTWXK1187FB5A3F8', Decimal('32.748629999999999'), Decimal('-97.329250000000002'), 'Fort Worth, TX', 'King Curtis'),
 ('AREDBBQ1187B98AFF5', Decimal('NaN'), Decimal('NaN'), '', 'Eddie Calvert'),
 ('ARPBNLO1187FB3D52F', Decimal('40.714550000000003'), Decimal('-74.00712'), 'New York, NY', 'Tiny Tim'),
 ('AR9AWNF1187B9AB0B4', Decimal('NaN'), Decimal('NaN'), 'Seattle, Washington USA', 'Kenny G featuring Daryl Hall'),
 ('ARI2JSK1187FB496EF', Decimal('51.506320000000002'), Decimal('-0.12714'), 'London, England', 'Nick Ingman;Gavyn Wright'),
 ('ARMBR4Y1187B9990EB', Decimal('37.779159999999997'), Decimal('-122.42005'), 'California - SF', 'David Martin'),
 ('ARD7TVE1187B99BFB1', Decimal('NaN'), Decimal('NaN'), 'California - LA', 'Casual'),
 ('ARKULSX1187FB45F84', Decimal('39.499740000000003'), Decimal('-111.54732'), 'Utah', 'Trafik'),
 ('ARQ9BO41187FB5CF1F', Decimal('40.994709999999998'), Decimal('-77.60454'), 'Pennsylvania', 'John Davis'),
 ('AR3JMC51187B9AE49D', Decimal('28.538229999999999'), Decimal('-81.377390000000005'), 'Orlando, FL', 'Backstreet Boys'),
 ('AROGWRA122988FEE45', Decimal('NaN'), Decimal('NaN'), '', 'Christos Dantis'),
 ('AR7ZKHQ1187B98DD73', Decimal('NaN'), Decimal('NaN'), '', 'Glad'),
 ('ARI3BMM1187FB4255E', Decimal('38.899099999999997'), Decimal('-77.028999999999996'), 'Washington', 'Alice Stuart'),
 ('ARQGYP71187FB44566', Decimal('34.31109'), Decimal('-94.029780000000002'), 'Mineola, AR', 'Jimmy Wakely'),
 ('ARIK43K1187B9AE54C', Decimal('NaN'), Decimal('NaN'), 'Beverly Hills, CA', 'Lionel Richie'),
 ('ARYKCQI1187FB3B18F', Decimal('NaN'), Decimal('NaN'), '', 'Tesla'),
 ('ARIG6O41187B988BDD', Decimal('37.167929999999998'), Decimal('-95.845020000000005'), 'United States', 'Richard Souther'),
 ('ARL7K851187B99ACD2', Decimal('NaN'), Decimal('NaN'), '', 'Andy Andy'),
 ('ARHHO3O1187B989413', Decimal('NaN'), Decimal('NaN'), '', 'Bob Azzam'),
 ('ARD842G1187B997376', Decimal('43.648560000000003'), Decimal('-79.385329999999996'), 'Toronto, Ontario, Canada', 'Blue Rodeo'),
 ('AR1ZHYZ1187FB3C717', Decimal('NaN'), Decimal('NaN'), '', 'Faiz Ali Faiz'),
 ('ARNPAGP1241B9C7FD4', Decimal('NaN'), Decimal('NaN'), '', 'lextrical'),
 ('ARC43071187B990240', Decimal('NaN'), Decimal('NaN'), 'Wisner, LA', 'Wayne Watson'),
 ('ARMAC4T1187FB3FA4C', Decimal('40.826239999999999'), Decimal('-74.479950000000002'), 'Morris Plains, NJ', 'The Dillinger Escape Plan'),
 ('ARDNS031187B9924F0', Decimal('32.678280000000001'), Decimal('-83.222949999999997'), 'Georgia', 'Tim Wilson'),
 ('AR0RCMP1187FB3F427', Decimal('30.08615'), Decimal('-94.101579999999998'), 'Beaumont, TX', 'Billie Jo Spears'),
 ('ARNTLGG11E2835DDB9', Decimal('NaN'), Decimal('NaN'), '', 'Clp'),
 ('AR5KOSW1187FB35FF4', Decimal('49.803879999999999'), Decimal('15.474909999999999'), 'Dubai UAE', 'Elena'),
 ('ARB29H41187B98F0EF', Decimal('41.884149999999998'), Decimal('-87.632409999999993'), 'Chicago', 'Terry Callier'),
 ('ARH4Z031187B9A71F2', Decimal('40.731969999999997'), Decimal('-74.174180000000007'), 'Newark, NJ', 'Faye Adams'),
 ('AREBBGV1187FB523D2', Decimal('NaN'), Decimal('NaN'), 'Houston, TX', "Mike Jones (Featuring CJ_ Mello & Lil' Bran)"),
 ('ARGUVEV1187B98BA17', Decimal('NaN'), Decimal('NaN'), '', 'Sierra Maestra'),
 ('ARAJPHH1187FB5566A', Decimal('40.703800000000001'), Decimal('-73.831680000000006'), 'Queens, NY', 'The Shangri-Las'),
 ('ARGIWFO1187B9B55B7', Decimal('NaN'), Decimal('NaN'), '', 'Five Bolt Main'),
 ('AR1Y2PT1187FB5B9CE', Decimal('27.940169999999998'), Decimal('-82.325469999999996'), 'Brandon', 'John Wesley'),
 ('AR47JEX1187B995D81', Decimal('37.837209999999999'), Decimal('-94.358680000000007'), 'Nevada, MO', 'SUE THOMPSON'),
 ('AROUOZZ1187B9ABE51', Decimal('40.79195'), Decimal('-73.945120000000003'), 'New York, NY [Spanish Harlem]', 'Willie Bobo'),
 ('ARD0S291187B9B7BF5', Decimal('NaN'), Decimal('NaN'), 'Ohio', 'Rated R'),
 ('ARXR32B1187FB57099', Decimal('NaN'), Decimal('NaN'), '', 'Gob'),
 ('ARKRRTF1187B9984DA', Decimal('NaN'), Decimal('NaN'), '', 'Sonora Santanera'),
 ('AR10USD1187B99F3F1', Decimal('NaN'), Decimal('NaN'), 'Burlington, Ontario, Canada', 'Tweeterfriendly Music'),
 ('AR8ZCNI1187B9A069B', Decimal('NaN'), Decimal('NaN'), '', 'Planet P Project'),
 ('AR7G5I41187FB4CE6C', Decimal('NaN'), Decimal('NaN'), 'London, England', 'Adam Ant'),
 ('ARKFYS91187B98E58F', Decimal('NaN'), Decimal('NaN'), '', 'Jeff And Sheri Easter'),
 ('ARMJAGH1187FB546F3', Decimal('35.149679999999996'), Decimal('-90.048919999999995'), 'Memphis, TN', 'The Box Tops'),
 ('ARGSJW91187B9B1D6B', Decimal('35.219619999999999'), Decimal('-80.019549999999995'), 'North Carolina', 'JennyAnyKind')]

In [7]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(1543449657796, 0, 29, 48, 11, 2018, 3),
 (1543449690796, 0, 29, 48, 11, 2018, 3),
 (1543449841796, 0, 29, 48, 11, 2018, 3),
 (1543449895796, 0, 29, 48, 11, 2018, 3),
 (1543450033796, 0, 29, 48, 11, 2018, 3)]

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).

In [8]:
%sql select sng.* from songs sng join artists art on sng.artist_id=art.id where sng.title ='Setanta matins' and art.name ='Elena' and duration=269.58;

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[('SOZCTXZ12AB0182364', 'AR5KOSW1187FB35FF4', 'Setanta matins', Decimal('269.58'), 0)]

In [15]:
%sql SELECT sng.*,ss.title, art.name FROM songplays sng join songs ss on sng.song_id = ss.id join artists art on art.id = sng.artist_id  limit 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(5662, 1542837407796, 15, 'paid', 'SOZCTXZ12AB0182364', 'AR5KOSW1187FB35FF4', 818, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"', 'Setanta matins', 'Elena')]

In [10]:
%sql select count(user_agent) as amount, user_agent from songplays group by user_agent order by amount desc;

 * postgresql://student:***@127.0.0.1/sparkifydb
40 rows affected.

[(971, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (708, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (696, 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (577, '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (573, '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (443, 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (427, '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (419, '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (319, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"'),
 (310, 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (259, '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (228, '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"'),
 (179, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (148, '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (111, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (87, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (72, 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:30.0) Gecko/20100101 Firefox/30.0'),
 (45, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (30, 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:32.0) Gecko/20100101 Firefox/32.0'),
 (27, '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"'),
 (26, 'Mozilla/5.0 (Windows NT 6.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (20, '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"'),
 (18, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3) AppleWebKit/537.75.14 (KHTML, like Gecko) Version/7.0.3 Safari/537.75.14"'),
 (16, 'Mozilla/5.0 (Windows NT 6.1; WOW64; Trident/7.0; rv:11.0) like Gecko'),
 (15, '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.102 Safari/537.36"'),
 (11, '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_1 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D201 Safari/9537.53"'),
 (10, '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (10, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (10, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10) AppleWebKit/538.46 (KHTML, like Gecko) Version/8.0 Safari/538.46"'),
 (9, '"Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (9, 'Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; WOW64; Trident/6.0)'),
 (9, 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.7; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (8, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8) AppleWebKit/534.59.10 (KHTML, like Gecko) Version/5.1.9 Safari/534.59.10"'),
 (5, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (5, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_2) AppleWebKit/537.75.14 (KHTML, like Gecko) Version/7.0.3 Safari/537.75.14"'),
 (3, 'Mozilla/5.0 (X11; Linux x86_64; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (2, 'Mozilla/5.0 (compatible; MSIE 9.0; Windows NT 6.1; Trident/5.0)'),
 (2, '"Mozilla/5.0 (Windows NT 6.2; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (2, '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (1, 'Mozilla/5.0 (Windows NT 6.3; WOW64; Trident/7.0; rv:11.0) like Gecko')]

In [16]:
%sql select tt.*, users.first_name, title from songplays join users on user_id=users.id join time tt on tt.start_time = songplays.start_time join songs ss on songplays.song_id = ss.id order by first_name, start_time Limit 100;

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(1542837407796, 21, 21, 47, 11, 2018, 2, 'Lily', 'Setanta matins')]